:root {
	--heading-blue: #0000A0;
	--white: #ffffff;
	--resume-blue: #367CFF;
	--profile-light-blue: #7a7aaf;
	--light: #c8cddc;
	--designation : #063970;
	--paragraph : #626F9C;
	--fulltime-background : #d7ffe0;
	--fulltime : #445589;
}

.p-top {
	padding-top: 20px;
}

.d-block {
	display: inline-block;
}

.left-container {
	vertical-align: top;
	display: inline-block;
	width: 20%;
	padding-top: 40px;
}

.right-container {
	display: inline-block;
	width: 70%;
}

.resume {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 15px;
   color: var(--white);
   border: none;
   border-radius: 15px;
   background: var(--resume-blue);
   height: 50px;
   width: 60%;
   text-align: center;
   margin-top: 35px;
}

.profile-images {
   padding-left: 10px;
   display: inline-block;
}

.heading {
	color: var(--heading-blue) ;
	font-size: 30px;
	font-weight: bold;
	padding-top: 25px;
	font-family: 'Poppins', sans-serif;
}

.sub-block {
	width:75%;
	padding-top: 20px;
}

.profile-details {
	color:var(--profile-light-blue);
	display: inline-block;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
    padding-left:15px;
	padding-bottom: 3px;
	vertical-align: text-bottom;
}

.institute {
	font-size: 15px;
	padding-top: 10px;
	color: var(--light);
	font-weight: bold;
	padding-bottom: 7px;
	vertical-align: text-bottom;
	display: inline-block;
}

.education-date {
	font-size: 15px;
	padding-bottom: 7px;
	vertical-align: text-bottom;
	padding-top: 8px;
	color: var(--light);
	display: inline-block;
	font-weight: bold;
}

.date-pic {
	padding-left: 30%;
	padding-top: 2px;
}
.space {
	padding-bottom: 50px;
	padding-top: 25px;
}
.name {
	color: var(--heading-blue);
	font-size: 30px;
	padding-left: 25px;
	padding-top: 30px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	width: 60%;
	text-align: center;
}

.Position {
	color: var(--designation);
	font-size: 20px;
	padding-left: 32px;
	font-family: 'Open Sans', sans-serif;
	padding-top:20px;
	height:40px;
}

.paragraph {
	color: var(--paragraph);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-right: 23%;
}

.degree {
	padding-top: 20px;
	color:var(--light);
	font-size: 20px;
}

.master-pic {
	padding-top: 7px;
	display: inline-block;
}

.face {
	border-radius: 50%;
	height: 15%;
	width: 50%;
    margin-left: 50px;
}

.sub-title {
	width: 600px;
	display: inline-block;
	font-size: 20px;
	color:var(--designation);
	font-family: 'Open Sans', sans-serif;	
}
.fulltime {
	display: inline-block;
	border-radius: 25px;
	background: var(--fulltime-background);
    height:35px;
    width:14%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	opacity:0.7;
	color:var(--fulltime);
	border: none;
 }
 hr {
	 opacity: .1;
 }
.company-name {
	font-size: 15px;
	padding-top: 5px;
	padding-left: 5px;
	color: var(--light);
	display: inline-block;
	width: 90px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 7px;
	vertical-align: text-bottom;
}

.date {
	font-size: 15px;
	padding-bottom: 7px;
	vertical-align: text-bottom;
	color:var(--light);
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.senior-developer-date {
	padding-left: 12%;
}
.city {
	padding-bottom: 7px;
	vertical-align: text-bottom;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	width: 45%;
	color: var(--light);
	display: inline-block;
	font-weight: bold;
}
