:root {
	--heading-blue: #0000A0;
	--white: #ffffff;
	--resume-blue: #367CFF;
	--profile-light-blue: #7a7aaf;
	--light: #c8cddc;
	--designation : #063970;
	--paragraph : #626F9C;
	--fulltime-background : #d7ffe0;
	--fulltime : #445589;
}

@font-face {
	font-family: 'pop';
	src: url(fonts/Poppins-Regular.ttf);
	src: url(fonts/Poppins-Bold.ttf);
}  

@font-face {
	font-family: 'open';
	src: url(fonts/OpenSans-Regular.ttf);
}

body {
	font-size: 15px;
	font-family: 'open';
	white-space: nowrap;
}

hr {
	opacity: .1;
}

.p-top {
	padding-top: 20px;
}

.d-block {
	display: inline-block;
}

.left-container {
	white-space: normal;
	vertical-align: top;
	display: inline-block;
	width: 25%;
	padding-top: 40px;
	
	.face {
		border-radius: 50%;
		height: 15%;
		width: 50%;
		margin-left: 50px;
	}

    .name {
		color: var(--heading-blue);
		font-size: 30px;
		padding-left: 25px;	
		padding-top: 30px;
		font-weight: bold;
		font-family: 'pop';
		width: 60%;
		text-align: center;
	}

	.Position {
		color: var(--designation);
		font-size: 20px;
		padding-left: 28px;
		padding-top:15px;
		height:40px;
	}

	.profile-details {
		color:var(--profile-light-blue);
		display: inline-block;
		font-weight: bold;
		font-family: 'pop';
		padding-left:15px;
		padding-bottom: 3px;
		vertical-align: text-bottom;
	}
	
	.profile-images {
	   padding-left: 10px;
	   display: inline-block;
	}

	.resume {
		font-weight: 600;
		font-size: 15px;
		color: var(--white);
		border: none;
		border-radius: 15px;
		background: var(--resume-blue);
		height: 50px;
		width: 60%;
		text-align: center;
		margin-top: 35px;
	 }	 
}

.right-container {
	white-space: normal;
	display: inline-block;
	width: 75%;

	.sub-block {
		padding-bottom: 40px;
	}

	.heading {
		color: var(--heading-blue) ;
		font-size: 30px;
		font-weight: bold;
		font-family: 'pop';
	}

	.paragraph {
		color: var(--paragraph);
		font-size: 18px;
		width: 45em;
		padding-right: 23%;
		padding-bottom: 40px;
	}

	.company-name {
		color: var(--light);
		display: inline-block;
		width: 75px;
		font-weight: bold;
		padding-bottom: 7px;
		vertical-align: text-bottom;
	}
	
	.date {
		font-size: 15px;
		padding-bottom: 7px;
		vertical-align: text-bottom;
		color:var(--light);
		display: inline-block;
		font-weight: bold;
	}
	
	.senior-developer-date {
		padding-left: 9%;
	}
	
	.city {
		padding-bottom: 4px;
		vertical-align: text-bottom;
		width: 45%;
		color: var(--light);
		display: inline-block;
		font-weight: bold;
	}

	.institute {
		padding-top: 10px;
		color: var(--light);
		font-weight: bold;
		padding-bottom: 7px;
		vertical-align: text-bottom;
		display: inline-block;
	}
	
	.education-date {
		font-size: 15px;
		padding-bottom: 7px;
		vertical-align: text-bottom;
		padding-top: 8px;
		color: var(--light);
		display: inline-block;
		font-weight: bold;
	}
	
	.date-pic {
		padding-left: 26%;
		padding-top: 2px;
	}
	
	.degree {
		padding-top: 20px;
		color:var(--light);
		font-size: 20px;
	}
	
	.master-pic {
		padding-top: 7px;
		display: inline-block;
	}
	
	.sub-title {
		width: 66%;
		display: inline-block;
		font-size: 20px;
		color:var(--designation);
	}
	.fulltime {
		display: inline-block;
		border-radius: 25px;
		background: var(--fulltime-background);
		height:35px;
		width:14%;
		text-align: center;
		font-weight: 600;
		font-size: 13px;
		opacity:0.7;
		color:var(--fulltime);
		border: none;
	 }
}
